{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static "/css/style.css" %}"
    />
  </head>
  <body>
    <nav>
      <div class="container nav-wrapper">
        <a href="/" class="brand-logo">My Summoner</a>
        <ul id="nav-mobile" class="right">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>

    <!--Container with searchbar-->
    <div class="container">
      <h1 style="text-align: center;">
        Type your summoner name
      </h1>
      <form action="{% url 'search_sum'%}" method="post">
        {% csrf_token%}
        <input
          type="text"
          name="search_sum_input"
          placeholder="Summoner Name"
        />

        <label>Browser Select</label>
        <select class="browser-default" name="serverselector">
          <option value="na1" selected>NA</option>
          <option value="euw1">EUW</option>
          <option value="eun1">EUNE</option>
          <option value="tr1">TR</option>
        </select>
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Search
          <i class="material-icons right">send</i>
        </button>
      </form>
      {%block content%} {%endblock content%}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
